<!DOCTYPE html>
<html ng-app="hoofdController">
  <head>
    <title><%= title %></title>
	<link href="stylesheets/prism.css" rel="stylesheet" />
    <script src="/angular.min.js"></script>
    <script src="js/prism.js"></script>
    <script src="/build/ngTouch.min.js"></script>
    <script src="/js/data.js"></script>
    <link rel="stylesheet" href='/css/bootstrap.min.css'/>
 	<link rel='stylesheet' href='/stylesheets/style.css'/>
 	
   	
    <link rel="stylesheet" href="/stylesheets/navbarstyle.css"/>
    
  </head>
  <body>
  <% include ../includes/header.ejs %>
  	<% include ../includes/body.ejs %>
  	
  	 <script src="/jquery.min.js" charset="utf-8"></script>
	 <script src="/js/bootstrap.min.js" charset="utf-8"></script>
	
  </body>
</html>